@import '../mixins_vars.scss';

@keyframes clock-animation {
    0% {
      stroke-dashoffset: 90;
      stroke: blue;
      filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
    }
    100% {
      stroke-dashoffset: 471;
      stroke: red;
      //filter: drop-shadow( 0px 0px 5px rgba(198, 0, 0, 0.7));
    }
}

.main_timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100vw;
    padding-top: 50px;

    .timer_clock {
        width: 150px;
        height: 150px;

        svg {
            circle {
                fill: white;
                stroke: blue;
                stroke-width: 10px;
                stroke-dasharray: 471;
                stroke-dashoffset: 27;
                animation: none;
                animation-play-state: running;
                transform: rotate(-90deg);
                transform-origin: center;

                filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
            }
            .circle_svg_back {
                fill: transparent;
                stroke: rgb(96, 96, 96);
                stroke-width: 2px;
            }

            text {
                font-family: "Verdana";
                font-size: 15;
                font-weight: 500;
            }
        }
    }

    .timer_input_all {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timer_input_names {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        width: 110px;

        p {
            margin: 0;
        }
    }

    .timer_input {
        display: flex;
        justify-content: space-between;
        width: 130px;

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }

        select {
            outline: none;
            box-shadow: 0 0 5px black;

            option {
                text-align: center;

                &:checked {
                    background-color: rgb(145, 187, 255);
                    font-weight: bold;
                }
            }

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background:  #c7e3ff;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(120, 120, 120);
            }
        }
    }

    .timer_buttons {
        display: flex;
        justify-content: space-between;
        width: 100px;

        button {
            border: $bord;
            border-radius: 3px;
            background-color: transparent;

            &:hover {
                background-color: rgb(230, 230, 230);
            }

            &:active {
                box-shadow: 0 0 5px black;
                transform: scale(0.96);
                background-color: #808080;
                color: white;
            }
        }
    }

    .p_timesup {
        font-family: "Verdana";
        font-size: 15;
        color: rgb(251, 66, 66);
        font-weight: 600;
    }
}