@import '../mixins_vars.scss';

@keyframes clock-animation {
    0% {
      stroke-dashoffset: 90;
      stroke: blue;
    }
    100% {
      stroke-dashoffset: 471;
      stroke: red;
    }
}

.main_timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100vw;
    padding-top: 50px;

    .timer_clock {
        width: 150px;
        height: 150px;

        svg {
            circle {
                fill: transparent;
                stroke: blue;
                stroke-width: 10px;
                stroke-dasharray: 471;
                stroke-dashoffset: 27;
                animation: none;
                animation-play-state: running;
                transform: rotate(-90deg);
                transform-origin: center;
            }

            text {
                font-family: "Verdana";
                font-size: "15";
            }
        }
    }

    .timer_input_all {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timer_input_names {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        width: 110px;

        p {
            margin: 0;
        }
    }

    .timer_input {
        display: flex;
        justify-content: space-between;
        width: 130px;

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }

        select {
            outline: none;
            //padding: 2px 0px 2px 11px;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background:  #c7e3ff;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(120, 120, 120);
            }
        }
    }

    .timer_buttons {
        display: flex;
        justify-content: space-between;
        width: 150px;

        button {
            border: $bord;
            border-radius: 3px;
            background-color: transparent;

            &:hover {
                background-color: rgb(230, 230, 230);
            }
        }
    }
}